In [5]:
import sqlite3

class Item_Data:
    def __init__(self):    
        con = sqlite3.connect("/workspaces/streamlit_exp/items.db")
        self.c = con.cursor()
        self.c.execute("select * from student_list")
        self.data = (self.c.fetchall())
        self.c.execute("select COUNT(*) from student_list")
        self.total_count = (self.c.fetchone())
        con.commit()
        # con.close()
    def delete_me(self,id):
        self.c.execute(f"DELETE from student_list where id = {id}")
        
        self.data = (self.c.fetchall())

    def get_line(self):
        self.c.execute("select * from student_list")
        self.data = (self.c.fetchall())

    def update_me(self,name,id):
        self.c.execute(f"""
        UPDATE student_list SET "item_name"={name}
        where id = {id} ;
        """)
        self.data = (self.c.fetchall())

    def delete_me(self,id):
        self.c.execute(f"""
        DELETE where id={id}
        """)
        self.data = (self.c.fetchall())

    def insert_me(self,name,id,price):
        self.c.execute(f"""
        INSERT INTO student_list ("item_name ", id, price) VALUES('{name}', {id}, {price});
        """)
        
        self.data = (self.c.fetchall())

    def show_data(self):
        self.c.execute("select * from student_list")
        for i in self.data():
            print(i[1])

obj = Item_Data()

In [7]:
import sqlite3

class Item_Data():
    def __init__(self):
        con = sqlite3.connect("/workspaces/streamlit_exp/items.db")
        self.c = con.cursor()


    def get_line(self):
        self.c.execute("select * from item_list")
        return (self.c.fetchall())

    def insert_me(self, id, name, price):
        try:
            self.con = sqlite3.connect("/workspaces/streamlit_exp/items.db")
            self.c = con.cursor()
            sql = f"""
            INSERT INTO item_list (id, item_name, price) VALUES({id}, '{name}', {price});
            """
            print(sql)
            self.c.execute(sql)
        except Exception as ex:

            print(ex)

    def update_me(self,name,id):
        self.c.execute(f"""
        UPDATE item_list SET "item_name"={name}
        where id = {id} ;
        """)
        
    def delete_me(self,id):
        self.c.execute(f"""
       DELETE FROM item_list WHERE id={id};
        """)
        self.data = (self.c.fetchall())

obj = Item_Data()

In [8]:
obj.update_me(4,"man")

OperationalError: no such column: man

In [9]:
obj.delete_me(2)

In [10]:
obj.get_line()

[(1, 'mouse', 1000), (3, 'earbuds', 3000), (4, 'mac mini', 80000)]

In [78]:
def insert_me(id, name, price):
    try:
        con = sqlite3.connect("/workspaces/streamlit_exp/items.db")
        c = con.cursor()
        sql = f"""
        INSERT INTO item_list (id, item_name, price) VALUES({id}, '{name}', {price});
        """
        print(sql)
        c.execute(sql)
    except Exception as ex:

        print(ex)
    # return (c.fetchall())

In [79]:
insert_me(7,"item-2",1200)

        INSERT INTO item_list (id, item_name, price) VALUES(7, 'item-2', 1200);

In [80]:
import sqlite3
sqlite3.connect("/workspaces/streamlit_exp/items.db").cursor().execute('select * from item_list').fetchall()

[(1, 'mouse', 1000),
 (2, 'keyborad', 1500),
 (3, 'earbuds', 3000),
 (4, 'mac mini', 80000)]