In [ ]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')

df_xlsx = pd.read_excel('/content/pokemon_data.xlsx')

print(df_xlsx.head(3))

# print(df.head(3))
# print(df.tail(3))

In [ ]:
df.columns
# print(df['Name'])
# print(df['Name'][0:5])
print(df.Name)

In [ ]:
df.loc[df['Type 1'] == "Grass"]

In [ ]:
df.describe()
# df.sort_values('name')

In [ ]:
df.head(5)

In [ ]:
#df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

# df = df.drop(columns=['Total'])

df['Total'] = df.iloc[:, 4:10].sum(axis=1)

cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]]+cols[4:12]]

df.head(5)

In [ ]:
# df.to_csv('modified.csv', index=False)

#df.to_excel('modified.xlsx', index=False)

df.to_csv('modified.txt', index=False, sep='\t')

In [ ]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

new_df.reset_index(drop=True, inplace=True)

new_df

new_df.to_csv('filtered.csv')

In [ ]:
# df.to_csv('modified.csv', index=False)

#df.to_excel('modified.xlsx', index=False)

df.to_csv('modified.txt', index=False, sep='\t')

In [ ]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

new_df.reset_index(drop=True, inplace=True)

new_df

new_df.to_csv('filtered.csv')

In [ ]:
# df.loc[df['Total'] > 500, ['Generation','Legendary']] = ['Test 1', 'Test 2']

# df

df = pd.read_csv('modified.csv')

df

In [ ]:
!pip install gradio 
!pip install pandas
!pip install db-sqlite3

In [ ]:
import sqlite3

class Students_Data:
    def __init__(self):    
        con = sqlite3.connect("/workspaces/streamlit_exp/subject_list.sqlite")
        self.c = con.cursor()
        self.c.execute("select * from subject_table")
        self.data = (self.c.fetchall())
        self.c.execute("select COUNT(*) from subject_table")
        self.total_count = (self.c.fetchone())
        con.commit()
        # con.close()
    def delete_me(self,id):
        self.c.execute(f"DELETE from subject_table where id = {id}")
        self.data = (self.c.fetchall())

    def get_line(self):
        self.c.execute("select * from subject_table")
        self.data = (self.c.fetchall())

    def update_me(self,name,id):
        self.c.execute(f"""
        UPDATE subject_table SET "name"={name}
        where id = {id} ;
        """)
        self.data = (self.c.fetchall())

    def delete_me(self,id):
        self.c.execute(f"""
        DELETE where id={id}
        """)
        self.data = (self.c.fetchall())

    def insert_me(self,name,id,age):
        self.c.execute(f"""
        INSERT INTO subject_table ("name ", id, age) VALUES('{name}', {id}, {age});
        """)
        
        self.data = (self.c.fetchall())

    def show_data(self):
        self.c.execute("select * from subject_table")
        for i in self.data():
            print(i[1])

obj = Students_Data()

In [ ]:
obj.delete_me(2001142)

In [ ]:
obj.get_line()

In [ ]:
obj.data

In [ ]:
obj.insert_me("parva",1234,10)

In [ ]:
obj.get_line()
obj.data

In [ ]:
obj.update_me("prakash",1234)

In [ ]:
obj.get_line()
obj.data

In [ ]:
obj.delete_me(1234)

In [ ]:
obj.get_line()
obj.data

In [ ]:
import pandas as pd

engine = create_engine("/content/subject_list.sqlite")

data = pd.read_sql("id", engine)

data.head()

In [ ]:
!pip install -U pandasql

In [ ]:
from pandasql import sqldf, load_meat, load_births

In [ ]:
pysqldf = lambda q: sqldf(q, globals())

In [ ]:
meat = load_meat()

In [ ]:
births = load_births()

In [ ]:
print (pysqldf("SELECT * FROM meat LIMIT 10;").head())

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('work.sqlite')
cur = conn.cursor()
conn.commit()

In [ ]:
df = pd.read_sql('create table sales', conn)
print(df)

In [ ]:
import sqlite3

class Students_Data:
    def __init__(self):    
        con = sqlite3.connect("/workspaces/streamlit_exp/subject_list.sqlite")
        self.c = con.cursor()
        self.c.execute("select * from subject_table")
        self.data = (self.c.fetchall())
        self.c.execute("select COUNT(*) from subject_table")
        self.total_count = (self.c.fetchone())
        con.commit()
        # con.close()
    def delete_me(self,id):
        self.c.execute(f"DELETE from subject_table where id = {id}")
        self.data = (self.c.fetchall())

    def get_line(self):
        self.c.execute("select * from subject_table")
        self.data = (self.c.fetchall())

    def update_me(self,name,id):
        self.c.execute(f"""
        UPDATE subject_table SET "name"={name}
        where id = {id} ;
        """)
        self.data = (self.c.fetchall())

    def delete_me(self,id):
        self.c.execute(f"""
        DELETE where id={id}
        """)
        self.data = (self.c.fetchall())

    def insert_me(self,name,id,age):
        self.c.execute(f"""
        INSERT INTO subject_table ("name ", id, age) VALUES('{name}', {id}, {age});
        """)
        
        self.data = (self.c.fetchall())

    def show_data(self):
        self.c.execute("select * from subject_table")
        for i in self.data():
            print(i[1])

obj = Students_Data()

In [ ]:
import gradio as gr
import pandas as pd
import sqlite3

box = gr.Blocks()

def get_all_data():
  con = sqlite3.connect("/workspaces/streamlit_exp/subject_list.sqlite")
  df = pd.read_sql_query("select * from subject_table",con)
  return(df)

# def update_list(name, id):
#   con = sqlite3.connect("/workspaces/streamlit_exp/subject_list.sqlite")
#   df = pd.read_sql_query(f"UPDATE subject_table SET "name"={name}where id = {id};",con)
#   return df

def delete_data(list_name):
  con = sqlite3.connect("/workspaces/streamlit_exp/subject_list.sqlite")
  df = pd.read_sql_query("DELETE FROM subject_table where id={list_name}",con)
  return(df)


with box:
  with gr.Tab("get all data"):
    button = gr.Button("press me")
    button.click(fn=get_all_data,outputs=[gr.DataFrame()])
  with gr.Tab("delete"):
    list_name = gr.Textbox("enter id number")
    button.click(fn=delete_data,inputs=[id])

box.launch(share=True)

In [ ]:
import gradio as gr
import pandas as pd
import sqlite3

box = gr.Blocks()

def get_all_data():
  con = sqlite3.connect("/workspaces/streamlit_exp/subject_list.sqlite")
  df = pd.read_sql_query("select * from subject_table",con)
  return(df)

# def update_list(name, id):
#   con = sqlite3.connect("/workspaces/streamlit_exp/subject_list.sqlite")
#   df = pd.read_sql_query(f"UPDATE subject_table SET "name"={name}where id = {id};",con)
#   return df

def delete_data(list_name):
    return list_name

with box:
  with gr.Tab("get all data"):
    button = gr.Button("press me")
    button.click(fn=get_all_data,inputs=[],outputs=[gr.DataFrame()])
  with gr.Tab("delete"):
    list_name = gr.Textbox("enter id number")
    button.click(fn=delete_data,inputs=[id],outputs=[gr.Label()])

box.launch(share=True)

In [ ]:
con = sqlite3.connect("/workspaces/streamlit_exp/subject_list.sqlite")
df = pd.read_sql_query("select * from subject_table",con)
print(df)

In [ ]:
import gradio as gr

box = gr.Blocks()
def fake(x,y,z,c):
    return("hello")

with box:
  button = gr.Button("press me")
  button.click(fn=fake,outputs=[gr.Label()])

box.launch()

In [ ]:
import sqlite3

class Students_Data:
    def __init__(self):    
        con = sqlite3.connect("/workspaces/streamlit_exp/subject_list.sqlite")
        self.c = con.cursor()
        self.c.execute("select * from subject_table")
        self.data = (self.c.fetchall())
        self.c.execute("select COUNT(*) from subject_table")
        self.total_count = (self.c.fetchone())
        con.commit()
        # con.close()
    def delete_me(self,id):
        self.c.execute(f"DELETE from subject_table where id = {id}")
        self.data = (self.c.fetchall())

    def get_line(self):
        self.c.execute("select * from subject_table")
        self.data = (self.c.fetchall())

    def update_me(self,name,id):
        self.c.execute(f"""
        UPDATE subject_table SET "name"={name}
        where id = {id} ;
        """)
        self.data = (self.c.fetchall())

    def delete_me(self,id):
        self.c.execute(f"""
        DELETE where id={id}
        """)
        self.data = (self.c.fetchall())

    def insert_me(self,name,id,age):
        self.c.execute(f"""
        INSERT INTO subject_table ("name ", id, age) VALUES('{name}', {id}, {age});
        """)
        
        self.data = (self.c.fetchall())

    def show_data(self):
        self.c.execute("select * from subject_table")
        for i in self.data():
            print(i[1])

obj = Students_Data()